
*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    margin: 0 100px;
  }
  nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  li{
    list-style: none; display: inline-block;
  }
  li a{
    color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
  }
  button{
    background-color: black; margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px;
  }
  button a{
    color: white; font-weight: bold; font-size: 15px;
  }

  .content{
    display: grid;
    grid-template-columns: 50% auto;
    gap:30px;
    margin-top: 120px;
    align-items: center;
    justify-content: space-between;
    width:100%;
    }
    .content .content-left{
    display: block;
    width: 100%;
    }
    .content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    }
    .content .content-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;
    }
    .content .content-left .info p{
    font-size: 23px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
    }
    .content .content-left button{
    padding:10px 23px;
    background-color:blue;
    color:white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    }
    .content .content-right{
    display: block;
    width: 100%;
    }
    .content .content-right img{
    width: 400px;
    height: auto;
    position: relative;
    animation: rotate 10s linear infinite;
    }
    @keyframes rotate {
    0%{
    transform: rotate(0deg);
    } 
    100%{
    transform: rotate(360deg);
    } 
    }


.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons a{
  color: #f44336;
  cursor: pointer;
  padding: 18px 0;
  text-align: right;
  margin-left: 200px;
  margin-right: 200px;
}

.fa-heart-o{
  color: #f44336;
}